.container{
    background: #212121;
    padding: 5rem 3rem;
    .example-form {
        min-width: 150px;
        color: white;
        max-width: 500px;
        width: 100%;
      }
      .example-full-width {
        width: 100%;
      }
}

mat-form-field{
  color: white;
}

